/* ------------------------------------------------------- */
/* COLORS */
/* ------------------------------------------------------- */

:root {
  --main-color-1: #e67e22;
  --main-color-2: #bf6516;
  --dark-color-1: #333333;
  --dark-color-2: #555555;
  --dark-color-3: #888888;
  --light-color-1: #ffffff;
  --light-color-2: #fcfcfc;
  --light-color-3: #f4f4f4;
  --lignt-color-4: #ececec;
  --light-color-5: #cccccc;
  --facebook-blue: #3b5998;
  --twitter-blue: #00aced;
  --googleplus-red: #dd4b39;
  --instagram-blue: #517fa4;
}

/* ------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--light-color-1);
  color: var(--dark-color-2);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clear-fix {
  zoom: 1;
}
.clear-fix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------------------- */
/* REUSABLE */
/* ------------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ------- HEADINGS ------- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--light-color-1);
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: var(--main-color-1);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------- PARAGRAPHS ------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin: 0 auto;
}

.box p {
  font-size: 80%;
  line-height: 145%;
}

/* ------- ICONS ------- */

.icon-big {
  display: block;
  font-size: 350%;
  color: var(--main-color-1);
  margin-bottom: 10px;
}

/* ------- BUTTONS ------- */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 8px 28px 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: var(--main-color-1);
  border: 1px solid var(--main-color-1);
  color: var(--light-color-1);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid var(--main-color-1);
  color: var(--main-color-1);
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: var(--main-color-2);
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid var(--main-color-2);
  color: var(--light-color-1);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid var(--main-color-2);
  color: var(--light-color-1);
}

/* ------- LINKS ------- */

a:link,
a:visited {
  color: var(--main-color-1);
  text-decoration: none;
  padding: 1px;
  border-bottom: 1px solid var(--main-color-1);
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: var(--dark-color-2);
  border-bottom: 1px solid transparent;
}

/* ------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------- */

header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo-white {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* ------- NAVIGATION BAR ------- */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: var(--light-color-1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--main-color-1);
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ------- MOBILE NAVIGATION ------- */

.icon-mobile-nav {
  display: none;
  float: right;
  margin-top: 30px;
  cursor: pointer;
}

.icon-mobile-nav i {
  font-size: 180%;
  color: var(--light-color-1);
}

/* ------- STICKY NAVIGATION ------- */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--light-color-1);
  box-shadow: 0 2px 2px var(--light-color-5);
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 20px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 15px 0;
  color: var(--dark-color-2);
}

.sticky .logo-white {
  display: none;
}

.sticky .logo {
  display: block;
}

/* ------------------------------------------------------- */
/* FEATURES */
/* ------------------------------------------------------- */

.section-features .long-copy {
  text-align: center;
  margin-bottom: 30px;
}

/* ------------------------------------------------------- */
/* MEALS */
/* ------------------------------------------------------- */

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  opacity: 1;
}

/* ------------------------------------------------------- */
/* HOW IT WORKS */
/* ------------------------------------------------------- */

.section-steps {
  background-color: var(--light-color-3);
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 210px;
}

.works-step {
  width: 85%;
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: var(--main-color-1);
  border: 2px solid var(--main-color-1);
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 7px 6px 6px 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------------------------------------------- */
/* CITIES */
/* ------------------------------------------------------- */

.section-cities .box img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.section-cities .box h3 {
  margin-bottom: 20px;
  margin-left: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: var(--main-color-1);
  font-size: 120%;
  /* to align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}

/* ------------------------------------------------------- */
/* TESTIMONIALS */
/* ------------------------------------------------------- */

.section-testimonials {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(img/back-customers.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg);
  background-size: cover;
  color: var(--light-color-1);
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  display: block;
  content: "\201c";
  font-size: 500%;
  position: absolute;
  top: -5px;
  left: -3px;
}

cite {
  display: block;
  font-size: 90%;
  margin-top: 25px;
}

cite img {
  height: 45px;
  width: auto;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ------------------------------------------------------- */
/* PLANS */
/* ------------------------------------------------------- */

.section-plans {
  background-color: var(--light-color-3);
}

.plan-box {
  background-color: var(--light-color-1);
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
}

.plan-box div {
  padding: 15px;
  border-bottom: 3px solid var(--light-color-3);
}

.plan-box div h3 {
  margin: 5px;
}

.plan-box div:first-child {
  padding-left: 30px;
  background-color: var(--light-color-2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.plan-box div:last-child {
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 2px var(--lignt-color-4);
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: var(--main-color-1);
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
  margin-left: 5px;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/* ------------------------------------------------------- */
/* CONTACTS */
/* ------------------------------------------------------- */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid var(--light-color-5);
  border-radius: 3px;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 0 20px 20px 2px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

*:focus {
  outline: none;
}

/* ------------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------------- */

footer {
  font-size: 80%;
  background-color: var(--dark-color-1);
  padding: 30px 0 60px 0;
}

.footer-nav {
  list-style: none;
  float: left;
  margin-top: 5px;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  color: var(--dark-color-3);
  text-decoration: none;
  border: 0;
  -webkit-transition: color 0.2;
  transition: color 0.2;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: var(--light-color-5);
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2;
  transition: color 0.2;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
  color: var(--facebook-blue);
}

.ion-social-twitter:hover,
.ion-social-twitter:active {
  color: var(--twitter-blue);
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active {
  color: var(--googleplus-red);
}

.ion-social-instagram:hover,
.ion-social-instagram:active {
  color: var(--instagram-blue);
}

footer p {
  color: var(--dark-color-3);
  text-align: center;
  margin-top: 20px;
}

/* ------------------------------------------------------- */
/* ANIMATIONS */
/* ------------------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-4 {
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
